.list-item {
    text-align: left;
    border: 1px solid #e7e7e7;
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto 0;
    /* height: 100px; */
}

.title {
    font-size: 18px;
    color: #000;
}

.content {
    font-size: 16px;
    color: #333;
    text-indent: 2em;
    word-break: break-all;
}